* {
  font-family: "Roboto", sans-serif;
}

header {
  border: solid red 2px;
  width: 100%;
  margin: 0 auto;
}

body {
  border: solid red 2px;
}

footer {
  border: solid red 2px;
}

.bio {
  border: solid red 2px;
}

.works {
  border: solid red 2px;
}
#works-container {
  border: solid red 2px;
}

#img-container {
  border: solid red 2px;
}

.contact-info {
  border: solid red 2px;
}

.nav-container {
  display: flex;

  flex-direction: row;
  justify-content: space-evenly;
  border: solid red 2px;
  margin: 0 auto;
}

#img-container {
  width: 400px;
  height: 400px;
}

.bio {
  display: flex;
  justify-content: flex-start;
}

.bio-text {
  border: solid red 2px;
}
