* {
  font-family: "Roboto", sans-serif;
}

header {
  border: solid red 2px;
}

body {
  border: solid red 2px;
}

footer {
  border: solid red 2px;
}

.bio {
  border: solid red 2px;
}

.works {
  border: solid red 2px;
}
#works-container {
  border: solid red 2px;
}

#img-container {
  border: solid red 2px;
}

.contact-info {
  border: solid red 2px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: solid red 2px;
}
